* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.navbar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.navbar-brand {
    padding-left: 30px;
    display: inline-block;
    font-size: 48px;
    color: #ffffff
}

.seo {
    color: #d9dcd6;
}

.nav-link ul li a {
    width: 993.42px; 
    height: 56px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
    list-style-type: none;
    text-align: right;
    margin-top: 44px;
    margin-bottom: 0;
    padding: 0;
    display: inline-block;
    margin-bottom: 30px; 
    padding-right: 30px;
    text-decoration: none;
}

.jumbotron.jumbotron-fluid {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


section .container .cards .row .col-md-8 {
    background-color: #0072bb;
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    border-bottom: 2px;
    
}
h2 {
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px; 
    color: #ffffff;
}

 .lead {
    margin-left: 25px;
    max-height: 200px;
}
#seeop {
    float: left;
}

#orm{
    float: right;
}

#smm{

    float: left;
}
    
.sidecontent {
    background-color: #2589bd;
    margin-bottom: 32px;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

 h3 {
    margin-bottom: 10px;
   
}

 .benefits {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
